* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.link {
    margin: 1.5% 20px;
    text-align: center;
    float: right; 
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.link:hover {
    background-color: rgb(199, 0, 40);
}
.link:active {
    background-color: rgb(167, 3, 36);
}
header {
    padding: 5px 10px;
    background-color: crimson;
    color: white;
    margin-bottom: 10px;
}
h4{
    padding-left: 15px;;
}
.one {
    margin: 0 10px;
}
p {
    margin: 5px 0 0 0;
}
ol {
    margin: 5px 20px;
}
img {
    margin: 10px;
}

/* Made By Pratha Gupta Of Class 7-I */